<%= render "shared/header" %>

<div class='title-contents'>
  <div class='top-contents'>
    <h2 class='service-title'>
      映画鑑賞の投稿・記録・レビュー
    </h2>
    <p class='service-explain'>
      いつどんな映画を見たかを記録するアプリ
    </p>
  </div>



  <div class='movie-contents'>
    <div class='movie-pics'>
      <h2 class='title'>ピックアップ!!</h2>
    </div>
    <ul class='movie-lists'>
      <% @movies.each do |movie| %>
        <li class='list'>
          <%= link_to movie_path(movie.id) do %>
            <div class='movie-info'>
              <h3 class='movie-name'>
                <%= movie.movie_title %>
              </h3>
              <div class='movie-img-content'>
                <%= image_tag movie.image.variant(resize: '300x300'), class: "movie-img" %>
              </div>
            </div>
          <% end %>
          <div class='movie-value'>
            <div><%= movie.movie_age.name %><div></div><%= movie.genre.name %></div>
          </div>
          <h4 class="mb-3">評価：<%= movie.movie_rating %>点 </h4>
          <div id="star-rate-<%= movie.id %>"></div>
          <script>
            $('#star-rate-<%= movie.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true, 
              score: <%= movie.movie_rating %>,
              });
          </script>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>