<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with model: @movie, url: movies_path, local: true do |f| %>
      <div class="img-upload">
        <div class="weight-bold-text">
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"movie-image" %>
        </div>
      </div>


      <div class="new-movies">
        <div class="weight-bold-text">
          タイトル
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :product_name, class:"movies-text", id:"movie-name", placeholder:"TITLE", maxlength:"40" %>
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%# f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"movie-category"}) %>
        <div class="weight-bold-text">
          年代
          <span class="indispensable">必須</span>
        </div>
        <%# f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"movie-category"}) %>
        <div class="movies-explain">
          <div class="weight-bold-text">
            監督
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :product_description, class:"movies-text", id:"movie-info", placeholder:"DIRECTOR" %>
          <div class="weight-bold-text">
            キャスト
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :product_description, class:"movies-text", id:"movie-info", placeholder:"ACTOR" ,rows:"7" %>
        </div>
        <div class="movies-explain">
          <div class="weight-bold-text">
            あらすじ（感想など）
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :product_description, class:"movies-text", id:"movie-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
        <div class="weight-bold-text">
          評価
          <span class="indispensable">必須</span>
        </div>
        <%# f.collection_select(:days_to_delivery_id, DaysToDelivery.all, :id, :name, {}, {class:"select-box", id:"movie-scheduled-delivery"}) %>
        </div>
      </div>
      <div class="sell-btn-contents">
        <%= f.submit "出品する" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    <% end %>

