<%= render "shared/header" %>


<div class="container">
  <div class="posts-title">
    <div class="post-title">
      <h3>投稿する</h3>
    </div>
  </div>
  <div class="contents-row3">
    <%= form_with model: @movie_cast, url: movies_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: @movie_cast %>
      <div class="img-upload">
        <div class="weight-bold-text">
          イメージ
          <span class="indispensable">*</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"movie-image" %>
        </div>
      </div>

      <div class="new-movies">
        <div class="form-box">
          <div class="weight-bold-text">
            タイトル
            <span class="indispensable">*</span>
          </div>
          <%= f.text_field :movie_title, class:"movies-text3", id:"movie-name", placeholder:"TITLE", maxlength:"40" %>
        </div>
        <div class="weight-bold-contents">
          <div class="form-box">
            <div class="weight-bold-text">
              ジャンル
              <span class="indispensable">*</span>
            </div>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"movie-genre"}) %>
          </div>
          <div class="form-box">
            <div class="weight-bold-text">
              年代
              <span class="indispensable">*</span>
            </div>
            <%= f.collection_select(:movie_age_id, MovieAge.all, :id, :name, {}, {class:"select-box", id:"movie-movie-age"}) %>
          </div>
        </div>
        <div class="movies-explain">
          <div class="form-box">
            <div class="weight-bold-text">
              監督
            </div>
            <%= f.text_field :film_director, class:"movies-text", id:"movie-info", placeholder:"DIRECTOR" %>
          </div>
          <div class="form-box">
            <div class="weight-bold-text">
              キャスト
            </div>
            <%= f.text_field :actor, class:"movies-text", id:"movie-info", placeholder:"ACTOR" ,rows:"7" %>
          </div>
        </div>

        <div class="movies-explain2">
          <div class="form-box">
            <div class="weight-bold-text">
              あらすじ（感想など）
            </div>
            <%= f.text_area :synopsis, class:"movies-text2", id:"movie-info", placeholder:"It was an interesting movie!!" ,rows:"7" ,maxlength:"1000" %>
          </div>
          <div class="form-box2">
            <div class="form-grouprow" id="star">
              <%= f.label :movie_rating,'評価 ', class:'col-md-3 col-form-label' %>
              <a class="indispensable2">*</a>
              <%= f.hidden_field :movie_rating, id: :review_star %>
              <script>
                  $('#star').raty({
                      size     : 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      scoreName: 'movie_cast[movie_rating]',
                      half: true, 
                  });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="sell-btn-contents">
        <%= f.submit "投稿ボタン" ,class:"sell-btn" %><br>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>