<%= render "shared/header" %>


<div class="contents-row_movie-lists">
  <div class="contents-row_movie-list">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie.id) do %>
        <div class="movie-box">
          <h3 class="name">
            <%= movie.movie_title %>
          </h3>
          <div class="item-img-content">
            <%= image_tag movie.image.variant(resize: '300x300'), class:"item-box-img" %>
          </div>
          <h4 class="mb-3">評価：<%= movie.movie_rating %>点 </h4>
          <div id="star-rate-<%= movie.id %>"></div>
            <script>
              $('#star-rate-<%= movie.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true, 
                score: <%= movie.movie_rating %>,
                });
            </script>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>