<%= render "shared/header" %>
<div class="contents row">
  <p><%= "#{@user.nickname}さんの情報の一覧" %></p>
  <% @movies.each do |movie| %>
    <div class="content_post" style="background-image: url(<%= movie.image %>);">
      <div class="more">
        <span><%= image_tag '5.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', movie_path(movie.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == movie.user_id %>
            <li>
              <%# link_to '編集', edit_movie_path(movie.id), method: :get %>
            </li>
            <li>
              <%# link_to '削除', movie_path(movie.id), method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="movie-show">
        <%= link_to movie_path(movie.id) do %>
          <div class="movie-box">
            <h2 class="name">
              <%= movie.movie_title %>
            </h2>
            <div class="item-img-content">
              <%= image_tag movie.image.variant(resize: '400x400'), class:"item-box-img" %>
            </div>
          </div>
        <% end %>
      </div>
      <span class="name">
        <a href="/users/<%= movie.user.id %>">
          <span>投稿者</span><%= movie.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>