
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class='movie-icon-nav' >
      <%= link_to image_tag("—Pngtree—ink_texture_watercolor_brush_5518211の黄色.png", class:"movie-icon"), "/" %>
    </div>

    <div class='nav'>
      <%= form_with(url: search_movies_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "input-box" %>
        <button class="search-button">
          <%= link_to image_tag("hatenamagnifyingglass41017-300x300.jpeg", class:"search-icon") %>
        </button>
      <% end %>


      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user), class: "nav__btn" %> </li>
          <li><%= link_to "投稿する", new_movie_path, class: "nav__btn" %> </li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav__btn", method: :delete %> </li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav__btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "nav__btn" %></li>
        <% end %>
      </ul>
      
    </div>
  </div>
</header>